<div class="container ">
  <h1 class="text-orange">Add movie to your <%= @list.name %> list</h1>
  <%= simple_form_for [@list, @bookmark], html: { class: "text-light-gray"} do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie, prompt: 'Select a movie', input_html: { class: 'select2' } %>
    <%= f.submit %>
  <% end %>
</div>
