<div class="wrapper">
  <div class="flex-container py-3">
    <h2 class="header-secondary text-lighter-gray">Favorites</h2>
      <div class="favorite-search-box">
        <select class="js-example-basic-single form-control round-one fav-search"
                name="movie"
                style="width: 100%"
                data-controller="search-favorites"
                data-search-favorites-target="favoriteSearch"
                data-action='keyup->search-favorites#search'>
          <% @movies.each do |movie| %>
            <option value="<%= movie['id'] %>"><%= movie['original_title'] %></option>
          <% end %>
        </select>
      </div>
  </div>
  <div class="grid-favorites">
    <% @movies.each do |movie|%>
      <div class="flex-container bg-pale round-one mb-4 fav" id= "<%= movie['id'] %>" >
        <div>
          <%= image_tag "https://www.themoviedb.org/t/p/original#{movie['poster_path']}",
                        class: 'favorite-movie round-one h-100',
                        data: { id: movie['id']} %>
          <%= image_tag "https://www.themoviedb.org/t/p/original#{movie['backdrop_path']}",
                        class: 'favorite-movie-back round-one h-100',
                        data: { id: movie['id']} %>
        </div>
        <div class="movie-info w-100 d-flex flex-column justify-content-between">
          <div class="movie-meta p-3">
            <p class="font-md">
              <span><%= movie['original_title'] %></span>
              <span class='text-muted font-sm'>
                (<%= Date.parse(movie['release_date']).year %>)
              </span>
            </p>
            <p class='font-sm text-light-gray' id='overview'><%= movie['overview'] %></p>
          </div>
          <div class="flex-col p-3">
            <p class="font-md"><%= movie['status'] %></p>
            <div class="remove mt-1 align-self-end">
              <%= link_to('Remove from favorites', favorites_path(movie_id: movie['id']),
                  class: 'font-sm', method: :delete, remote: true) %>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
