<div class="modal fade" id="exampleModalCenter<%=movie['id']%>" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
    <div class="modal-content mdl-dark">
      <div class="mdl-header p-0">
      <div class='mdl-image-wrap'>
        <div class="gradient"></div>

        <%= image_tag "https://www.themoviedb.org/t/p/original#{movie['backdrop_path']}", class: 'mdl-image' %>
        <h5 class="mdl-title" id="exampleModalLongTitle"><%= movie['original_title'] %></h5>
        <button type="button" class="mdl-close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">x</span>
        </button>
      </div>
      </div>
      <div class="modal-body mdl-dark">
        <div class='d-flex justify-content-between'>
          <div class='w-75'>
            <p><%= movie['overview'] %></p>
          </div>
          <div class='d-flex align-items-start'>
            <i class="fab fa-imdb text-orange mr-2"></i>
            <h2 class='lead pt-1'><%= movie['vote_average'] %> / 10</h2>
          </div>
        </div>
          <% if current_user.favorites.find_by(movie_id: movie['id']) %>
            <%= simple_form_for current_user.favorites.find_by(movie_id: movie['id']), method: :delete, class: 'btn button-orange remove-favorite' do |f| %>
              <%= f.hidden_field :movie_id, value: movie['id'] %>
              <%= f.button :button, 'Remove from favorites', class: 'btn button-orange' %>
            <% end %>
          <% else %>
            <%= simple_form_for favorite do |f| %>
              <%= f.hidden_field :movie_id, value: movie['id'] %>
              <%= f.button :button, 'Add to favorites', class: 'btn button-orange' %>
            <% end %>
          <% end %>
        <div>
        </div>
      </div>
    </div>
  </div>
</div>
